[project]
	description = Ovirt instant developer environment using Docker
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Roy Golan (rgolangh)
[access "refs/for/refs/*"]
	read = group user/Roy Golan (rgolangh)
	push = group user/Roy Golan (rgolangh)
	label-Code-Review = -2..+2 group user/Roy Golan (rgolangh)
	label-Verified = -1..+1 group user/Roy Golan (rgolangh)
	rebase = group user/Roy Golan (rgolangh)
	removeReviewer = group user/Roy Golan (rgolangh)
	submit = group user/Roy Golan (rgolangh)
[access "refs/heads/*"]
	read = group user/Roy Golan (rgolangh)
	create = group user/Roy Golan (rgolangh)
	push = +force group user/Roy Golan (rgolangh)
	pushMerge = group user/Roy Golan (rgolangh)
[access "refs/tags/*"]
	push = +force group user/Roy Golan (rgolangh)
	pushTag = group user/Roy Golan (rgolangh)
	pushSignedTag = group user/Roy Golan (rgolangh)
